In [2]:
# Tarea #1: Limpieza y análisis de datos
# Estudiante: Wilmer Estuardo Vasquez Raxon
# Carné: 201800678

import pandas as pd
import numpy as np

# Cargar el dataset
df = pd.read_csv('dataset_sucio.csv')
print("¡Dataset cargado exitosamente!")

¡Dataset cargado exitosamente!

In [3]:
print("--- ESTADO ORIGINAL DEL DATAFRAME ---")
display(df.head(10))

print("\n--- TABLA PIVOTE (DATOS SUCIOS) ---")
# Intentamos ver el promedio de gasto por ciudad antes de limpiar
try:
    pivot_sucio = df.pivot_table(index='ciudad', values='gasto_q', aggfunc='mean')
    display(pivot_sucio)
except Exception as e:
    print("Error al crear tabla: Los datos están muy sucios (posiblemente gasto_q no es numérico)")

--- ESTADO ORIGINAL DEL DATAFRAME ---

,id_cliente,nombre,genero,fecha_registro,gasto_q,ciudad,categoria
0,502609,Paola Morales,m,2026-02-27,NaN,Antigua,Retail
1,500588,ANA DIAZ,f,2026-02-24,371.80,Villa Nueva,Services
2,502408,Maria Paz,m,2026-01-15,"373,33",quetzaltenango,retail
3,501688,Ana Mejia,f,2026-01-18,361.23,Quetzaltenango,Education
4,502916,Carlos Mendez,f,29/01/2026,"339,01",Amatitlan,Retail
5,504200,Oscar Rojas,m,2026-01-09,138.22,Antigua,RETAIL
6,502029,Isabel Ramirez,m,2026-02-05,"166,31",Villa Nueva,SERVICES
7,501366,Pedro Herrera,m,12/02/2026,"405,62",Amatitlan,Education
8,502614,Patricia Soto,F,2026-01-11,222.88,guatemala,Retail
9,502794,Pablo Perez,M,2026-02-06,"287,37",Escuintla,Retail

--- TABLA PIVOTE (DATOS SUCIOS) ---
Error al crear tabla: Los datos están muy sucios (posiblemente gasto_q no es numérico)

In [4]:
# 1. Eliminación de duplicados
df = df.drop_duplicates()

# 2. Limpieza de strings (Nombre, Ciudad, Categoría)
# Quitamos espacios en blanco extra y estandarizamos a mayúsculas iniciales
cols_texto = ['nombre', 'ciudad', 'categoria']
for col in cols_texto:
    df[col] = df[col].astype(str).str.strip().str.title()

# 3. Corrección de la columna Gasto_Q (De texto a número)
# Reemplazamos la coma por punto para que Python lo reconozca como decimal
df['gasto_q'] = df['gasto_q'].astype(str).str.replace(',', '.')
df['gasto_q'] = pd.to_numeric(df['gasto_q'], errors='coerce')

# 4. Tratamiento de valores faltantes (NaN)
# Llenamos gastos vacíos con el promedio de la columna
df['gasto_q'] = df['gasto_q'].fillna(df['gasto_q'].mean())

# 5. Estandarización de Género
# Pasamos todo a mayúsculas y limpiamos espacios para que 'f' y ' F ' sean 'F'
df['genero'] = df['genero'].astype(str).str.strip().str.upper()
# Opcional: Corregir errores si hay valores extraños
df['genero'] = df['genero'].replace({'MALE': 'M', 'FEMALE': 'F', ' ': 'N/A'})

# 6. Estandarización de Fechas
# Convertimos a formato datetime de pandas
df['fecha_registro'] = pd.to_datetime(df['fecha_registro'], errors='coerce')

print("Limpieza completada.")

Limpieza completada.

In [5]:
print("--- DATOS LIMPIOS (DEPURADOS) ---")
display(df.head(10))

print("\n--- ANÁLISIS: GASTO PROMEDIO POR CIUDAD Y GÉNERO ---")
# Esta es la tabla pivote que demuestra que los datos ya están estandarizados
pivot_limpio = df.pivot_table(index='ciudad', columns='genero', values='gasto_q', aggfunc='mean')
display(pivot_limpio)

# Guardar el resultado limpio para descargar
df.to_csv('dataset_limpio.csv', index=False)

--- DATOS LIMPIOS (DEPURADOS) ---

,id_cliente,nombre,genero,fecha_registro,gasto_q,ciudad,categoria
0,502609,Paola Morales,M,2026-02-27,251.276705,Antigua,Retail
1,500588,Ana Diaz,F,2026-02-24,371.800000,Villa Nueva,Services
2,502408,Maria Paz,M,2026-01-15,373.330000,Quetzaltenango,Retail
3,501688,Ana Mejia,F,2026-01-18,361.230000,Quetzaltenango,Education
4,502916,Carlos Mendez,F,NaT,339.010000,Amatitlan,Retail
5,504200,Oscar Rojas,M,2026-01-09,138.220000,Antigua,Retail
6,502029,Isabel Ramirez,M,2026-02-05,166.310000,Villa Nueva,Services
7,501366,Pedro Herrera,M,NaT,405.620000,Amatitlan,Education
8,502614,Patricia Soto,F,2026-01-11,222.880000,Guatemala,Retail
9,502794,Pablo Perez,M,2026-02-06,287.370000,Escuintla,Retail

--- ANÁLISIS: GASTO PROMEDIO POR CIUDAD Y GÉNERO ---

genero                               F           M
ciudad
                234.990000  239.790189  230.417529
Amatitlan       237.510958  246.812443  241.899099
Antigua         183.965000  247.666599  242.036435
Chimaltenango   242.630610  261.602874  266.064974
Escuintla       244.572857  266.243327  268.728924
Guatemala       226.800000  231.862280  250.711192
Mixco           259.005000  243.316591  258.751920
Quetzaltenango  247.042727  256.389499  260.171172
Villa Nueva     326.527143  229.383218  257.808751